.recommended{
    flex-basis: 30%;
}.r_card{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 40px;
}
.recommended img{
    flex-basis:45%;
    width: 37%;
    border-radius: 10px;
}
.recommended_info{
    margin: 5px;
}
.recommended_info h6{
    color: #AAAAAA;
    font-size: 9px;
    margin-top: 3px;
}
.recommended_info h5{
    margin-bottom: 5px;
}